.mypos {
	/*position: absolute;
	float: right;*/
}

.classmate-and-teacher {
	padding: 10px 10px;
	background-color: lightblue;
	cursor: pointer;
	position: relative;
	font-weight: bold
	top: 20px;
	float: right;
	display: block;
}

.MatesPanel{
	padding-top: 6px;
width: 172px;
height: 500px;
text-align: center;
background-color: #9D9D9D;
overflow: auto;
border-radius: 10px;
}