[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

.badge1 {
	position: relative;
}

.badge1[ng-bind]::after {
	content: attr(ng-bind);
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: .7em;
	background: red;
	color: white;
	width: 15px;
	height: 16px;
	text-align: center;
	line-height: 18px;
	border-radius: 50%;
	box-shadow:0 0 1px #333;
}

nav div ul li {
	display: inline-block;
	zoom: 1.3;
	-moz-transform: scale(2); /* firefox */
	-webkit-transform: scale(1.3) /* chrome and safari */
}

.separate-between-windows {
	margin-right: 100px;
	background-color: white;
	height: 360px;
	width: 280px;
	bottom: 0px;
}

.message-content {
	padding: 10px 20px 10px 20px;
	color: white;
	white-space: nowrap;
	border-radius: 8px;
	position: relative;
	left: -15px;
	max-width: 205px;
	display: block;
	white-space: normal;
	word-wrap: break-word;
}

.mes:hover {
	background-color: lightgrey;
}

.close-chat-window {
	text-align: center;
	cursor: pointer;
	zoom: 0.5;
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	margin: 5px 5px 0 0;
	font-size: 1.5em;
	float: right;
	background-color: blue;
	width: 25px;
}

.each-message {
	padding: 20px 20px;
	width: 165px;
	max-width: 165px;
	text-align: center;
	/*overflow-wrap: break-word;*/
	/*word-wrap: break-word;*/
	display: block;
	zoom: 1.1;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);

}

.chat-window {
	border: 2px solid grey;
	border-radius: 6px;
	
	height: 280px;
	max-width: 295px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px;
	margin-bottom: 2px;
}

.name-position {
	position: relative;
	left: 90px;
}

.send-button {
	float: right;
	width: 60px;
}

.message-input:focus {
	box-shadow: 0 0 0 1px lightblue;
}

.message-input {
	float: left;
	outline: none;
	padding: 0 9px 12px 9px;
	width: 215px;
	background-color: lightgrey;
	border: 1px solid grey;
	border-radius: 8px;
	word-wrap: break-word;
	white-space: normal;

}

.chat-head {
	cursor: pointer;
	width: 200px;
	height: 20px;
	background-color: #959FA9;
	right: -100px;
	width: 100%;
	color: white;
	font-size: 1.2em;
}

.wrapword {
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -webkit-pre-wrap; /*Chrome & Safari */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

.wrapper {
	height: 100%;
	padding-bottom: 20px;
}

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	.badge1[ng-bind]:after {
		content: attr(ng-bind);
		position: absolute;
		top: -20px;
		right: -20px;
		font-size: .7em;
		background: red;
		color: white;
		width: 35px;
		height: 36px;
		text-align: center;
		line-height: 18px;
		border-radius: 70%;
		box-shadow:2 2 1px #333;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    	/* IE10+ CSS styles go here */
	.chat-window {
		width: 280px;
		max-width: 320px;
	}

	.chat-head {
		position: relative;
		right: -0.4px;
		top: 10px;
		width: 280px;
		height: 20px;
	}

	.close-chat-window {
		text-align: center;
		cursor: pointer;
		margin-right: -12px;
		top: -15px;
		margin-top: 2px;
	}

	.badge1[ng-bind]::after {
		top: -7px;
		right: -7px;
	}
}

@-moz-document url-prefix() {
	.wrapper {
		margin-top: -20px;
	}

	.message-input {
		padding: 0 9px 2px 9px;
	}

	.chat-window {
		width: 280px;
		max-width: 320px;
		top: -20px;
	}
	
	.chat-head {
		position: relative;
		right: -0.4px;
		top: 10px;
		width: 280px;
		height: 20px;
	}

	.close-chat-window {
		text-align: center;
		cursor: pointer;
		zoom: 0.3;
		-moz-transform: scale(0.65);
		margin-right: -3px;
		top: -15px;
		margin-top: -6px;
	}

	.badge1[ng-bind]::after {
		top: -7px;
		right: -7px;
	}
}