.classmate-and-teacher {
	height: auto;
	width: 100%;
	background-color: lightblue;
	cursor: pointer;
	position: relative;
	float: right;
	display: block;
	margin-bottom: 10px;
}

.classmate-and-teacher label {
	position: static;
	/*width: 100%;*/
	height: auto;
	word-wrap: break-word;
	white-space: normal;
	/*height: auto;*/
	cursor: pointer;
}

.ChatmatesPanel {
	/*position: fixed;*/
	margin-top: 6px;
	width: 200px;
	height: 500px;
	text-align: center;
	background-color: #9D9D9D;
	overflow: auto;
	border-radius: 10px;
	/*float: left;*/
	margin-left: 5px;
	border: 2px solid #ADD8E6;
}

.clickable {
	cursor: pointer;
}

.hideShowContacts {
	overflow: hidden;
	height: 50px;
}

.hideChatWindowContent {
	display: none;
}